/* 
product add
*/

/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* CSS for the button */
  button {
    padding: 10px 20px;
    background-color: #f54242;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #0e4bf1;
  }
  

/*  */

.admin-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-list {
    margin-top: 20px;
  }
  
  .product-item {
    border: 1px solid #f54242;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .action-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .add-button {
    background-color: #f54242;
  }
  
  .update-button {
    background-color: #f54242;
  }
  
  .delete-button {
    background-color: #f54242;
  }
  
  .quantity-button {
    background-color: #f54242;
  }
  
  .action-button:hover {
    background-color: #0e4bf1;
  }
  /* CSS for the modal */
.modal {
    display: none; /* Hide modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .show-modal {
    display: flex; /* Show modal when 'showModal' is true */
  }
  